# Build directories
build-binutils-aarch64-unknown-cloudabi/
build-binutils-x86_64-unknown-cloudabi/

# Debian build files
debian/.debhelper/
debian/*.debhelper.log
debian/*.substvars
debian/binutils-aarch64-unknown-cloudabi/
debian/binutils-x86-64-unknown-cloudabi/
debian/debhelper-build-stamp
debian/files

# Contents of binutils_2.26.orig.tar.bz2
COPYING
COPYING.LIB
COPYING3
COPYING3.LIB
ChangeLog
MAINTAINERS
Makefile.def
Makefile.in
Makefile.tpl
README
README-maintainer-mode
bfd/
binutils/
compile
config-ml.in
config.guess
config.rpath
config.sub
config/
configure
configure.ac
cpu/
depcomp
elfcpp/
etc/
foo/
gas/
gold/
gprof/
include/
install-sh
intl/
ld/
libiberty/
libtool.m4
ltgcc.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
makefile.vms
md5.sum
missing
mkdep
mkinstalldirs
move-if-change
opcodes/
setup.com
src-release.sh
symlink-tree
texinfo/
ylwrap
zlib/
